<ion-content [fullscreen]="true">
  <div class="fondo">
    <div class="imagen-Login">
      <img src="../../assets/home-img/Cinepolis-Logo.jpg" alt="Cinepolis-Logo">
    </div>
    <div class="login">
      <div class="login-text">
        <strong class="bloque">Iniciar Sesión</strong>
        <strong class="bloque">Administrador</strong>
      </div>

      <div class="login-buttons">
        <input id="input-email" type="email" class="input-field" [(ngModel)]="inputEmail" name="input-email" placeholder="Correo electrónico">
        <input id="input-password" type="password" class="input-field" [(ngModel)]="inputPassword" name="input-password" placeholder="Contraseña">
        <button id="ingresar-button" (click)="login()">Ingresar</button>
      </div>

    <div class="enlaces-login">
      <a href="../home" (click)="adminUser()">¿Desea ingresar como usuario?</a>
    </div>

    </div>
  </div>

</ion-content>
