<ion-header>
  <ion-toolbar class="toolbarHeader">
    <button class="botonRegresar" (click)="regresar()">
      <ion-icon name="chevron-back-outline" id="flechaRegreso"></ion-icon>
    </button>
    <ion-title id="tituloPagina">Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="fondo">

    <ion-row class="botones-bar">
      <button class="botones-row" (click)="agregarCliente()"> <ion-icon name="add-circle-outline" id="cruz-img"></ion-icon> Agregar</button>
      <button class="botones-row" (click)="filtrar()" id="oculto"> <ion-icon name="filter-outline"></ion-icon> Filtros</button>
    </ion-row>

      <ion-card *ngFor="let item of clientes; let i = index" class="cartas-comidas">
        <ion-card-content>
          <div class="tarjeta">
            <h4>Nombre: <span class="texto-descripcion">{{item.nombre}}</span></h4>
            <h4>Apellido: <span class="texto-descripcion">{{item.apellido1}}</span></h4>
            <h4>Segundo Apellido: <span class="texto-descripcion">{{item.apellido2}}</span></h4>
            <h4>Correo Electrónico: <span class="texto-descripcion">{{item.correo}}</span></h4>

            <button class="botones-pelicula" (click)="modificar(i)">
              Modificar
            </button>

            <ion-button id="basurero-icon-button" (click)="eliminarCliente(i)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>


  </div>

</ion-content>
