@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

/*HEADER*/
.botonRegresar {
    visibility: hidden;
}

#flechaRegreso {
    position: fixed;
    font-size: 30px;
    top: 10px;
    left: 20px;
    color: white;
    visibility: visible;
}

.toolbarHeader {
    text-align: center;
    --background: #18599c;
    color: white;
}

#tituloPagina {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}


/*CONTENT*/

.fondo {
    width: 100%;
    height: 100%;
    background-color: #18599c;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
    display: none;
    }
}


.botones-row {
    position: relative;
    top: 4px;
    margin: 5px;
    background-color: #FFCD34;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 2px;
}

#cruz-img {
    position: relative;
    top: 4px;
}

#alimento-img {
    position: relative;
    top: 4px;
}

#cliente-img {
    position: relative;
    top: 4px;  
}

.cartas-peliculas {
    position: relative;
    left: 50%;
    transform: translateX(-54%);
    width: 200px;
    height: 250px;
    display: inline-block;
}

.tarjeta-pelicula {
    --background: #0e3155;
    border-radius: 0px;
    border: 0px solid black;
}

#imagen-pelicula {
    position: relative;
    top: 20px;
    left: 50%;
    height: 203px;
    transform: translateX(-50%);
}

#titulo-pelicula {
    position: relative;
}

.item-pelicula {
    --background: #FFCD34;
}

.botones-pelicula {
    background-color: #FFCD34;
    //text-align: left;
    position: relative;
    // left: 50%;
    // transform: translateX(-50%);
}


// #abc {
//     width: 100px;
//     height: 100px;
// }

#boton-invisible {
    display: none;
}

#basurero-icon-button-comida {

    --background: #df00006b;
    --ripple-color: #df0000;
}

#basurero-icon-button-comida:hover{
    --background: #df0000;
}