<ion-header>
  <ion-toolbar class="toolbarHeader">
    <button class="botonRegresar" (click)="regresar()">
      <ion-icon name="chevron-back-outline" id="flechaRegreso"></ion-icon>
    </button>
    <ion-title id="tituloPagina">Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="fondo">

    <ion-card *ngIf="pelicula" class="tarjeta-pelicula">
      <ion-item class="imagen-pelicula">
        <img [src]="pelicula.url" id="imagen-pelicula">
      </ion-item>
      <hr>
      <div class="info-pelicula">
        <h3>Título: <span class="texto">{{pelicula.titulo}}</span> </h3>
        <h3>Director: <span class="texto">{{pelicula.director}}</span></h3>
        <h3></h3>
      </div>


    </ion-card>


  </div>

</ion-content>
