@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

/*HEADER*/
.botonRegresar {
    visibility: hidden;
}

#flechaRegreso {
    position: fixed;
    font-size: 30px;
    top: 10px;
    left: 20px;
    color: white;
    visibility: visible;
}

.toolbarHeader {
    text-align: center;
    --background: #18599c;
    color: white;
}

#tituloPagina {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/*CONTENT*/
.fondo {
    width: 100%;
    height: 100%;
    background-color: #18599c;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
    display: none;
    }
}

.botones-row {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 4px;
    margin: 5px;
    background-color: #FFCD34;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 2px;
}

#carrito-img {
    position: relative;
    top: 4px;
}

.cartas-comidas {
    position: relative;
    left: 50%;
    transform: translateX(-54%);
    width: 200px;
    display: inline-block;
}

.tarjeta-comida {
    --background: #0e3155;
    border-radius: 0px;
    border: 0px solid black;
    height: 225px;
}

#imagen-comida {
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 225px;
}

.item-comida{
    --background: #FFCD34;
}

.botones-comida{
    background-color: #FFCD34;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.nombre-comida {
    margin-top: 0px;
    background-color: #0e3155;
}

.nombre-comida h4 {
    margin: 0px;
    padding: 8px;
    color: white;
    text-align: center;
}